[Unit]
Description=Configure WiFi on boot
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/connect-wifi.sh
RemainAfterExit=yes
User=root
Group=root

[Install]
WantedBy=multi-user.target